/* header {
  background-color: #a43c3c; 
} */

nav {
  font-size: 120%;
  width: 98%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50vw;
  padding: 5px;
}

nav ol {
  list-style-type: none;
  display: flex;
  justify-content: baseline;
  margin-right: 5vw;
  margin-left: 33vw;
  gap: 2vw;
}

nav ol .title {
  top: 10px;
  text-shadow: 3px 4px #09747eb9;   
  color:#a7f679b9;
  font-size: 170%;
  left: 3vw;
  display: flex;
  align-items: center;   
  cursor: pointer;
  position: absolute;
}
nav ol img {
  box-shadow: 0px 1px 16px 2px #cdcdcd;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
nav ol img:hover {
  box-shadow: 0px 1px 20px 10px #888888;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
nav ol .title1 {
  display: none;
}
nav ol .title .animasi-teks {
  margin-left: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: animasi-ketik 5s steps(22) 1s infinite alternate;
}

nav ol .title .line {
  float: left;
  color: white;
  font-weight: bold;
  animation: crow 0.5s linear 0s infinite;
}
@keyframes animasi-ketik {
  from {
    width: 0;
  }
}
@keyframes crow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav ol li .about::before {
  content: "01. ";
  color: rgba(60, 248, 69, 0.811);
}
nav ol li .exp::before {
  content: "02. ";
  color: rgba(60, 248, 69, 0.811);
}nav ol li .project::before {
  content: "03. ";
  color: rgba(60, 248, 69, 0.811);
}nav ol li .collection::before {
  content: "04. ";
  color: rgba(60, 248, 69, 0.811);
}
nav ol li a:hover::before {
  color: rgb(156, 250, 161);
}
nav ol li a {
  text-decoration: none;
  color: rgba(212, 209, 209, 0.877);
}
nav ol li a:hover {
  color: rgb(255, 255, 255);
}
nav .hamburger {
  display: none;
}

@media screen and (max-height: 333) {
  nav ol .title {
    top: 22px;
  }
}
@media screen and (max-width: 787px) {
  nav ol .title {
    top: 22px;
  }

/* @media screen and (max-width: 1024px) {
 nav {
    margin-left:25px;
    width: 70vw;
 }  
}*/


nav ol .title {
  display: none ;
}
nav ol .title1 {
  display: block;
}
nav ol .title1 {
  top: 22px;
  text-shadow: 3px 4px #09747eb9;
  font-size: 170%;
  left: 3vw;
  display: flex;
  align-items: center;   
  color:#a7f679b9;
  cursor: pointer;
  position: absolute;
  gap: 3vw ;
}

nav ol .title1 .animasi-teks1 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: animasi-ketik 2s steps(22) 1s infinite alternate;
}
nav ol .title1 .line1 {
  margin-left: -2.6vw;
  color: white;
  font-weight: bold;
  animation: crow 0.5s linear 0s infinite;
}


nav ul li .about::before {
  content: "01. ";
  color: rgba(60, 248, 69, 0.811);
}
nav ul li .exp::before {
  content: "02. ";
  color: rgba(60, 248, 69, 0.811);
}nav ul li .project::before {
  content: "03. ";
  color: rgba(60, 248, 69, 0.811);
}nav ul li .collection::before {
  content: "04. ";
  color: rgba(60, 248, 69, 0.811);
}
nav ul li a:hover::before {
  color: rgb(156, 250, 161);
}
nav ul li a {
  text-decoration: none;
  color: rgba(212, 209, 209, 0.877);
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}
}

@media screen and (max-width: 600px) {

  nav {
    width: 97%;
  }
  nav .hamburger{
    display: block;
  }
  nav .hamburger .menu,nav ol .about,nav ol .exp,nav ol .project,nav ol .collection, nav .hamburger .close{
    display: none;
  }

  nav .hamburger i {
    font-size: 120%;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 15px;
    color: rgba(60, 248, 69, 0.811);
  }

nav .hamburger ul {
  list-style-type: none;
  font-size: 95%;
  margin-top: -30px;
  margin-left: -95px;
}

nav .hamburger .close{
  margin-left: 125px;
}
nav .hamburger .menu{
  position: absolute;

  background-color: #fff;
}
nav .hamburger .menu .exp{
  margin-top: -1000px;
}
}