

#about {
  color: rgba(138, 159, 189, 0.658);
  position: relative;
  left: 25vw;
  z-index: 0;
  width: 50%;
}
#about h2 {
  background: -webkit-linear-gradient(#eee, #4a5f72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px #353f3fb9;
  font-size: x-large;
}
#about .nama {
  letter-spacing: 3px;
  text-shadow: 10px 10px 10px 1p0x #ffffff;
  animation: glow linear 1000ms;
}
#about h1 {
  animation: animate linear 600ms;
  position: relative;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: rgba(255, 255, 255, 0.658);
  font-size: xx-large;
  text-shadow: 3px 2px #09747e8f;
}

#about h4 {
  color: #e1ffffef;
  letter-spacing: 3px;
  margin-top: -1em;
}
#about .intro {
  padding-top: 1em;
}

@keyframes animate {
  0% {
    left: -2em;
    opacity: 0;
  }
  100% {
    left: 0.2em;
  }
}
@keyframes glow {
  100% {
    filter: brightness(10);
  }
}
